<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title">Tracks</h3></div>
    <table *ngIf="tracks" id="trackstable" class="table table-hover">
      <thead>
          <tr>
              <th>Identifier</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th>Identifier</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
          </tr>
      </tfoot>
      <tbody>
          <tr *ngFor='let key of tracks | asJsonFields'>
              <td>{{key.value.apiTraRouteId}}</td>
              <td>{{key.value.startDate}}</td>
              <td>{{key.value.endDate}}</td>
              <td><button (click)='goToTrackPoints(key.value.apiTraRouteId)' class="btn-success">Watch</button>
          </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>

