<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title">Tracks</h3></div>
    <table id="example" class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
          </tr>
      </tfoot>
      <tbody>
          <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
          </tr>
          <tr>
              <td>Garrett Winters</td>
              <td>Accountant</td>
              <td>Tokyo</td>
              <td>63</td>
              <td>2011/07/25</td>
              <td>$170,750</td>
          </tr>
    </tbody>
  </table>
</div>

    <!-- /.panel panel-default -->
<!--
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tipoEventos" class="col-md-2 control-label">Tipo de Evento: </label>
              <div class="col-md-4 input-group">
                <span class="input-group-btn">
                  <select [ngModel]="selectedTipoEvento" (change)="onChangeTipoEvento($event.target.value)" class="form-control" id="tipoEventos">
                    <option [ngValue]="key" *ngFor='let key of tiposEventos | asJsonFields'
                        value="{{key.value.idTipoEvento}}">{{key.value.denominacion}}</option>
                  </select>
                </span>
              </div>

              <label for="areas" class="col-md-2 control-label">Área: </label>
              <div class="col-md-4 input-group">
                <span class="input-group-btn">
                  <select [ngModel]="selectedArea" (change)="onChangeArea($event.target.value)" class="form-control" id="areas">
                    <option value=""></option>
                    <option [ngValue]="key" *ngFor='let key of areas | asJsonFields'
                        value="{{key.value.idArea}}">{{key.value.denominacion}}</option>
                  </select>
                </span>
              </div>

              <label for="years" class="col-md-2 control-label">Año: </label>
              <div class="col-md-4 input-group">
                <span class="input-group-btn">
                  <select [ngModel]="selectedYear" (change)="onChangeYear($event.target.value)" class="form-control" id="years">
                    <option value=""></option>
                    <option [ngValue]="key" *ngFor='let key of years'
                        value="{{key}}">{{key}}</option>
                  </select>
                </span>
              </div>
            </div>
          </div>

        <div *ngFor='let key of eventos | asJsonFields' class="row">
          <div class="col-md-12">
            <div class="well well-sm">
              <h5>{{key.value.edicion}} - {{key.value.denominacionTipoEvento}}</h5>
              {{key.value.denominacionLugar}}
            </div>
          </div>
        </div>
      </div>

    -->
